*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    margin :0 auto;
    max-width: 500px;
    padding-left: 55px;
    margin-top: 60px;
    background-color: white;
    border-radius: 16px;
    height: 480px;
    padding-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
    background-color: #e2d8d8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    width: 350px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.buttons input{
    padding: 10px 20px;
    border-radius: 8px;
    width: 350px;
}